@using CourseBookingSystem.PL
@using CourseBookingSystem.PL.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<a href="e:\projects\CourseBookingSystem\CourseBookingSystem.pl\views\home\index.cshtml">e:\projects\CourseBookingSystem\CourseBookingSystem.pl\views\home\index.cshtml</a>