@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <h1 class="text-center">Welcome to <span class="font-monospace text-primary">Course Booking System</span> </h1>
    <p class="text-center">A platform for managing course bookings and registrations.</p>

    <section id="overview">
        <h2 class="text-primary">Overview</h2>
        <p>The Course Booking System is a web application built with ASP.NET Core MVC, designed to facilitate course registrations and bookings. It provides a user-friendly interface for users to browse available courses, enroll in courses, and manage their bookings.</p>
    </section>
    <section id="architecture">
        <h2 class="text-primary">Architecture</h2>
        <p>The system follows an N-tier architecture to ensure modularity and maintainability. It consists of the following layers: Presentation Layer, Business Logic Layer, Data Access Layer, and Entity Layer.</p>
    </section>

    <section id="features">
        <h2 class="text-primary">Features</h2>
        <ul>
            <li>Browse and search available courses.</li>
            <li>Register and enroll in courses.</li>
            <li>Manage course bookings and cancellations.</li>
            <li>View course details, including schedule and instructor information.</li>
            <li>Secure user authentication and authorization.</li>
            <li>Responsive design for seamless access across devices.</li>
            <li>Client-side validations for data input.</li>
            <li>Dynamic content updates using AJAX.</li>
        </ul>
    </section>

    <section id="technologies">
        <h2 class="text-primary">Technologies</h2>
        <ul>
            <li>ASP.NET Core MVC</li>
            <li>Entity Framework Core</li>
            <li>MS SQL Server</li>
            <li>Bootstrap</li>
            <li>jQuery</li>
            <li>AJAX</li>
            <li>Identity Framework for authentication and authorization</li>
            <li>AutoMapper</li>
        </ul>
    </section>
</div>
